# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
client/dist/
server/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/
.idea/
.DS_Store

# Postgres data volume (if using local docker volume mount)
pgdata/
